<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Daily Heroes
            </h1>
            <h2 class="subtitle">
                Sign Up
            </h2>
        </div>
    </div>
</section>

<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
        <article class="message is-danger">
            <div class="message-header">
                <p>Error</p>
            </div>
            <div class="message-body">
                <%= msg %>
            </div>
        </article>
    <% end %>
<% end %>

<br>
<%= render 'form' %>
<br>

<div class="buttons">
    <button class="button is-primary"> <%= link_to("Log In", '/login') %> </button>
    <button class="button is-link is-light"> <%= link_to("Log in with Google", '/auth/google_oauth2') %> </button>
</div>
