<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Daily Heroes
            </h1>
            <h2 class="subtitle">
              Edit Your Commitment to <%= @commitment.pledge.action %>
            </h2>
        </div>
    </div>
</section>
<br>


<%= render partial: 'form', :pledge_id => @commitment.pledge_id %>