<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Daily Heroes
      </h1>
      <h2 class="subtitle">
        All Commitments
      </h2>
    </div>
  </div>
</section>

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Pledge</th>
            <th>Frequency</th>
            <th>User</th>
        </tr>
    </thead>

    <% @commitments.each do |p| %>

    <tbody>
        <tr>
            <td> <%= link_to p.pledge.action, commitment_path(p) %> </td>
            <td> <%= p.frequency %> </td>
            <th> <%= p.user.name %> </th>
        </tr>
    </tbody>
    <% end %>
</table>