<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Daily Heroes
            </h1>
            <h2 class="subtitle">
                Commit to <%= @pledge.action %>
            </h2>
        </div>
    </div>
</section>

<br>

<%= render 'form' %>