
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Pledge</th>
            <th>Frequency</th>
        </tr>
    </thead>

    <% @commitments.each do |p| %>

    <tbody>
        <tr>
            <td> <%= link_to p.pledge.action, commitment_path(p) %> </td>
            <td> <%= p.frequency %> </td>
        </tr>
    </tbody>
    <% end %>
</table>